@model IEnumerable<Member>
@{
    ViewData["Title"] = "Team Members";
}

<section id="members">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
        <button class="btn btn-add">Add Member</button>
    </div>
    
    <div class="members-list">
        
        @if (Model != null)
        {
            @foreach (var member in Model)
            {
                <div class="card member">
                    <div class="avatar">img</div>
                    <h4 class="name">@member.FirstName @member.LastName</h4>
                    <div class="job-title">@member.JobTitle CEO</div>
                    <div class="email">@member.Email</div>
                    <div class="phone-number">@member.PhoneNumber</div>
                    <div class="role"></div>
                    
                    <button class="btn-nocol btn-gray">Message</button>
                </div>
            }
            
        }
        
    </div>
</section>